header {
    animation: topdown .7s;
}

main {
    animation: downtop 2s .6s backwards;
}

@keyframes topdown {
    0% {
        opacity: 0;
        transform: translate(15px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes downtop {
    0% {
        opacity: 0;
        transform: translate(15px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}