@import url(./global.css);

@media (min-width: 620px) {
    main {
        grid-template-areas:
            "A  B B"
            "C C D";
    }

    main div:nth-child(1) {
        grid-area: A;
    }

    main div:nth-child(2) {
        grid-area: B;
    }

    main div:nth-child(3) {
        grid-area: C;
    }

    main div:nth-child(4) {
        grid-area: D;
    }


}

@media (min-width: 930px) {
    .page {
        max-width: 120rem;
        padding: 0 5rem;
    }
}